# --- Unity Core (CRÍTICO) ---
# La carpeta Library contiene la caché de assets. NUNCA subirla.
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
Assets/Audio/el-secreto-de-mi-abuela.wav

# --- MemoryCaptures ---
/[Mm]emoryCaptures/

# --- IDE / Visual Studio / VS Code ---
# Estos archivos se regeneran automáticamente al abrir Unity
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

# --- OS Junk ---
.DS_Store
Thumbs.db
Desktop.ini